@model library.Models.BookModel

@{
    ViewData["Title"] = "Details";
}

<div class="book-header">
    <h2>Detaljer för boken</h2>
</div>

<div class="book-details">
    <h4>BookModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
    </dl>
</div>
<div class="book-actions">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-edit">Redigera</a>
    <a asp-action="Index" class="btn btn-primary">Tillbaka till listan</a>
</div>
