@model IEnumerable<library.Models.BookModel>

@{
    ViewData["Title"] = "Index";
}

<div class="book-header-with-btn">
    <h2>Böcker</h2>
    <p>
        <a asp-action="Create" class="btn btn-primary add-btn">Create New</a>
    </p>
</div>


<div class="book-list">
    @foreach (var item in Model)
    {
        <article class="book-card">
            <div class="book-image">
                <a href="images/@item.ImageName">
                    <img src="images/@item.ImageName" alt="Bild på @item.Title">
                </a>
                <div class="book-info">
                    <h2 class="book-title">@item.Title</h2>
                    <p class="book-author">Författare: @item.Author?.Name</p>
                    <p class="book-year">Utgivningsår: @item.ReleaseYear</p>
                    <div class="book-actions">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-edit">Redigera</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-details">Detaljer</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-delete">Ta bort</a>
                    </div>
                </div>
            </div>
        </article>
    }
</div>
